{% extends 'common/base.html' %}
{% block title %}Logout{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center">
        <h2>Сигурен ли сте, че искате да излезете от профила си?</h2>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3">Излез</button>
            <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Отказ</a>
        </form>
    </div>
</div>
{% endblock %}
