{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
{#<h1 class="align-items-center text-center">⚠️ ВАЖНО: Този уебсайт все още не е във финалната си версия. В момента работя върху нови функции и подобрения. Очаквайте скоро допълнителни възможности и оптимизации. Благодаря за разбирането! 🙌</h1>#}
    <h1 class="text-center">Добре дошли обратно, {{ username }}!</h1>
    <p class="text-center">Използвайте функционалностите за търсене на постове и училища.</p>


    <div class="text-center mt-4 mb-4">
        <a href="{% url 'dashboard' %}" class="btn btn-success btn-lg">
            Вижте вашето табло
        </a>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h4 class="card-title">Търсене на постове</h4>
            <form id="searchPostForm">
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <input type="text" id="subject" name="subject" class="form-control"
                               placeholder="Търсене по предмет">
                    </div>
                    <div class="col-md-5 mb-3">
                        <input type="text" id="grade" name="grade" class="form-control"
                               placeholder="Търсене по клас">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Търси</button>
                        <button type="button" class="btn btn-danger btn-block" id="clearPostSearch">
                            Изчисти
                        </button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-4">
                <a href="{% url 'post_list' %}" class="btn btn-secondary">Всички Постове</a>
            </div>
        </div>
    </div>

    <div id="postResults" class="row mb-5"></div>

    <div class="card shadow-lg">
        <div class="card-body">
            <h4 class="card-title">Търсене на училища и техните събития</h4>
            <form id="searchSchoolForm">
                <div class="row">
                    <div class="col-md-10 mb-3">
                        <input type="text" id="town" name="town" class="form-control"
                               placeholder="Въведете град за търсене">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Търси</button>
                        <button type="button" class="btn btn-danger btn-block" id="clearSchoolSearch">
                            Изчисти
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-center mb-4">
            <a href="{% url 'school_list' %}" class="btn btn-secondary">Всички училища</a>
        </div>
    </div>

    <div id="schoolResults" class="row"></div>
</div>

<script>
        document.getElementById("searchPostForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var subject = document.getElementById("subject").value;
            var grade = document.getElementById("grade").value;

            fetch(`/api/search/?subject=${subject}&grade=${grade}`)
                .then(response => response.json())
                .then(data => {
                    var resultsContainer = document.getElementById("postResults");
                    resultsContainer.innerHTML = '';

                    if (data && data.length === 0) {
                        resultsContainer.innerHTML = '<div class="alert alert-info" role="alert">Няма намерени постове за зададените критерии.</div>';
                    } else if (data && data.length > 0) {
                        data.forEach(post => {
                            var postCard = `
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow-sm">

                                <div class="card-body">
                                    <h5 class="card-title">${post.title}</h5>
                                    <p class="card-text text-muted">${post.description.substring(0, 100)}...</p>
                                    <p><strong>Предмет:</strong> ${post.subject}</p>
                                    <p><strong>Клас:</strong> ${post.grade}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    Създадено на ${new Date(post.created_at).toLocaleDateString()}
                                </div>
                                <a href="post/post/${post.id}/" class="btn btn-primary mt-3">Виж повече</a>
                            </div>
                        </div>
                    `;
                            resultsContainer.innerHTML += postCard;
                        });
                    } else {
                        resultsContainer.innerHTML = '<div class="alert alert-info" role="alert">Няма намерени постове за зададените критерии.</div>';
                    }
                })
                .catch(error => {
                    console.error('Error fetching post search results:', error);
                    var resultsContainer = document.getElementById("postResults");
                    resultsContainer.innerHTML = '<div class="alert alert-danger" role="alert">Грешка при зареждането на резултатите.</div>';
                });
        });

        document.getElementById("searchSchoolForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var town = document.getElementById("town").value;

            fetch(`/api/schools/search/?town=${town}`)
                .then(response => response.json())
                .then(data => {
                    var resultsContainer = document.getElementById("schoolResults");
                    resultsContainer.innerHTML = '';

                    if (data.schools.length === 0 && data.tours.length === 0) {
                        resultsContainer.innerHTML = '<div class="alert alert-info" role="alert">Няма намерени училища или събития за зададения град.</div>';
                    } else {
                        if (data.schools.length > 0) {
                            resultsContainer.innerHTML += '<h2>Училища</h2>';
                            data.schools.forEach(school => {
                                var schoolCard = `
                                  <div class="col-md-4 mb-4">
                                    <div class="card h-100 shadow-sm">
                                      <div class="card-body">
                                        <h5 class="card-title">${school.name}</h5>
                                        <p class="card-text text-muted">${school.description.substring(0, 100)}...</p>
                                        <p><strong>Град:</strong> ${school.town}</p>
                                      </div>
                                      <div class="card-footer text-muted">
                                        <a href="/post/school/${school.id}/" class="btn btn-primary mt-3">Виж повече</a>
                                      </div>
                                    </div>
                                  </div>
                                `;
                                resultsContainer.innerHTML += schoolCard;
                            });
                        }

                        if (data.tours.length > 0) {
                            resultsContainer.innerHTML += '<h2>Събития</h2>';
                            data.tours.forEach(tour => {
                                var tourCard = `
                                  <div class="col-md-4 mb-4">
                                    <div class="card h-100 shadow-sm">
                                      <div class="card-body">
                                        <h5 class="card-title">${tour.name}</h5>
                                        <p class="card-text text-muted">${tour.description.substring(0, 100)}...</p>
                                        <p><strong>Град:</strong> ${tour.school.town || 'Неизвестен'}</p>
                                      </div>
                                      <div class="card-footer text-muted">
                                        <a href="/post/tour/${tour.id}/" class="btn btn-primary mt-3">Виж повече</a>
                                      </div>
                                    </div>
                                  </div>
                                `;
                                resultsContainer.innerHTML += tourCard;
                            });
                        }
                    }
                })
                .catch(error => {
                    console.error('Error fetching school and tour search results:', error);
                });
        });

        document.getElementById("clearPostSearch").addEventListener("click", function () {
            document.getElementById("subject").value = '';
            document.getElementById("grade").value = '';
            document.getElementById("postResults").innerHTML = '';
        });


        document.getElementById("clearSchoolSearch").addEventListener("click", function () {
            document.getElementById("town").value = '';
            document.getElementById("schoolResults").innerHTML = '';
        });

</script>
{% endblock %}
